.editor-input {
  height: 23px;
  border: 1px solid #ddd;
  padding-left: 10px;
  font-size: 13px;
  border-radius: 3px;
  width: 200px;
}
.editor-label {
  width: 120px;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  text-align: right;
}
