<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creditease.monitorframework.fat.mybatis.UserMapper">
	<select id="selectUser" resultType="com.creditease.monitorframework.fat.mybatis.User">
		select * from mytest where id = #{id}
	</select>
	<select id="insertUser" parameterType="com.creditease.monitorframework.fat.mybatis.User">
		insert into mytest(id,name, age) values(#{id},#{name}, #{age})
	</select>
	<select id="deleteUser">
		delete from mytest where id = #{id}
	</select>
</mapper>