.AppHubMVCSearchBar {
	height:50px;
	width: calc(100%);
	background:#eeeeee;
	padding-top:8px;
}

.AppHubMVCSearchBarInputText {
	width: 200px;
	display: inline;
}

.AppHubMVCLoading{  
    width:200px;  
    height:40px;
    display:none;  
    position: absolute;  
    top: calc( 50% - 40px );  
    left: calc( 50% - 86px ); 
    line-height:40px;  
   
    color:#fff;  
    padding-left:30px;
    padding-top:0px;  
    font-size:12px;  
    background: #000 url(../../apphub/img/mvc/loading.gif) no-repeat 10px 50%;  
    opacity: 0.7;  
    z-index:119999;  
    -moz-border-radius:10px;  
    -webkit-border-radius:10px;  
    border-radius:10px;  
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);  
}  
