.modal-header
{
    padding: 2px 2px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
    background-color: #337ab7;	
    color:white;
}

.modal-footer {
    padding: 2px 2px;
}